<!DOCTYPE html>
<html>
<head>
  <title>Thesis02</title>
  <link rel="Shortcut Icon" href="/assets/ico.png" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button class="navbar-toggle" data-toggle="collapse"
            data-target="#NavbarToggle">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-header">
      <a href="#" class="navbar-brand"
         data-toggle="tooltip"
         data-placement="right"
         title="Infinity Online Catering Services!">
        <img src="/assets/logo.png" alt="images" class="logo"/>
      </a>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="NavbarToggle">
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li class="navborder"><%= link_to 'Home', catering_home_path %></li>
      <li class="navborder"><%= link_to 'Menu', dishes_path %></li>
      <li class="navborder"><%= link_to 'Amenities',catering_amenities_path %></li>
      <li class="navborder"><%= link_to 'Gallery', catering_gallery_path %></li>
      <li class="navborder"><%= link_to 'About us', catering_about_path %></li>
      <li class="navborder"><%= link_to 'Contact us', catering_contact_path %></li>
          <ul class="nav navbar-nav navbar-right">
      <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Account <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%== link_to current_user.email %></li>
          <li><%= link_to "Profile", edit_user_registration_path %></li>
          <li>
            <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
          </li>

        </ul>
      </li>
      <% else %>
          <li class="pull-right"><%= link_to "Sign in", new_user_session_path %></li>
          <li class="pull-right"><%= link_to "Admin", new_admin_session_path %></li>
      <% end %>
      </ul>
    </ul>

  </div>

</nav>


<%= yield %>



</body>
</html>
