/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background: url("/assets/wood_pattern.jpg");
}

.col-md-4 > .ftleft {
    width: 150px;
    height: 50px;
    margin-top: 15px;
    margin-left: -40px;
}
.col-md-4 > .ftright {
    width: 150px;
    height: 50px;
    margin-top: 15px;
    margin-right: -40px;
}
.col-md-4 > .all {
    margin-top: 15px;
    text-align: center;
}