// Place all the styles related to the catering controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//style for home/
.navborder{
  border-radius: 5px 5px 5px 5px;
  color: #e8ad81;
}

//style for application
.logo {
  width: 200px;
  height: 70px;
  margin-top: -15px;
}

.navbar {
  width: 80%;
  margin: 0px auto;
}

//.navbar-toggle:hover {
//  background-color: orange;
//}

.collapse > .navbar-nav > li:hover {
  background-color: #dcdcdc;
}
.collapse > .navbar-nav > li a {
  color: #000000;
}
.navbar-collapse > .navbar-nav {
  margin-top: 40px;
}
.buttons {
  margin-bottom: 20px;
}
//end of style for application

//carousel
.car{
  width: 1340px;
  height: 250px;
  //  border: 5px solid black;
}
.marginabout{
  margin-right: 150px;
}
p{
  color: black;
}
//style for home
.inner {
  width: 80%;
  height: 400px;
  margin-top: 30px;
}

.content2{
  background: url("/assets/bg.jpg");
  margin-top: 200px;
  border-radius: 10px 10px 10px 10px;
}

.port {
  width: 230px;
  height: 340px;
  margin-top: -180px;
}

.para {
  width: 600px;
  height: 250px;
  text-align: left;
  float: right;
  margin-top: 0px;
  font-size: 16px;
}

.lechon {
  width: 230px;
  height: 160px;
}

.picture > .col-md-3 > .thumbnail  {
  border: 5px solid chocolate;
  border-radius: 10px 10px 10px 10px;
}
.row > .col-md-3 > h4 {
  text-align: center;
}

.service > .col-md-3 {
  border: 1px solid chocolate;
  border-radius: 20px 0px 0px 20px;
}

.service > .col-md-3 > hr {
  border-color: #080808;
}
.service > .col-md-3 > h5 {
  text-align: center;
  color: red;
  margin-top: -15px;
}
.service > .col-md-3 > .buffet {
  text-align: left;
  margin-left: 20px;
  height: 137px;
}
.service > .col-md-3 > h6 {
  margin-top: -15px;
}
.service > .col-md-3 > .packed {
  text-align: center;
  margin-left: 20px;
  height: 128px;
}
.service > .col-md-3 > .packed > li > h5 {
  color: red;

}
.service > .col-md-3 > .cocktail {
  text-align: center;
  margin-left: 20px;
  height: 150px;
}
.service > .col-md-3 > .cocktail > li > h5 {
  color: red;
}
.service > .col-md-3 > .amenities {
  text-align: left;
  margin-left: 20px;
  height: 150px;
}

.buttons > .col-md-3 > .btn {
  margin-top: 20px;
}
//end of style for home

//style for gallery

//end of style for gallery

//pill color

.color{
  color: #e8ad81;
}

/**************/

//style for menu
/* Buffet Type Panel */
/*************************/
#main_courses_row1
{
  padding-top:20px;
  width:775px;
}

#main_courses_row2
{
  width:775px;
}

.menu_inclusions_col ul
{
  list-style:none;
  padding:0;
  font-size:12px;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-style:italic;
}

.menu_inclusions_col ul li
{
  width:230px;
}

#col1, #col2, #col3
{
  float:left;
  position:relative;
}

#buffet-type-inclusions_info li
{
  padding-bottom:5px;
}
/*************************/

.tableheight{
  height: 0px;
  width: 400px;
}
.panel_hz_divider
{
  height:1px;
  width:775px;
  background:#e9dbdb repeat-x;
}

.menu_inclusions_col
{
  margin-top:20px;
  width:775px;
}

.menu_inclusions_title_div span
{
  background-color:#DB7D19;
  color:#FFF;
  padding:8px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:bold;
}

.inclusions_menu_div
{
  float:left;
  position:relative;
}

.menu_inclusions_short_desc_div
{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:12px;
  font-style:italic;
  width:500px;
}

#menu_tab_div fieldset
{
  border:0;
}

#menu_tab_container_div
{
  width:140px;
  height:30px;
}

#menu_tab_img_div
{
  float:left;
  position:relative;
}

#menu_tab_title_div
{
  float:left;
  position:relative;
}

#menu_tab_cktl_img_div
{
  float:left;
  position:relative;
  left:8px;
  width:24px;
}

.menu_tab_panel
{
  margin-top:-38px;
  display:table;
}

#menu_tabs_ui_panel a:hover
{
  text-decoration:none;
  cursor:default;
}

.menu_inclusions_row
{
  display:table-row;
}

.menu_inclusions_cell
{
  display:table-cell;
  position:relative;
}

#menu_tab_div
{
  float:left;
  position:relative;
  width:966px;
  padding-left:20px;
  top:-50px;
}

#menu_title_tab
{
  width:169px;
  height:35px;
  font-size:18px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  border-right:1px solid #ccc;
}

#menu_title_tab span
{
  color:#444;
  font-size:20px;
  margin-left:10px;
}
li{
  list-style-type: none;
}

.contentmenu{
  margin-left: 100px;
  margin-top: 75px;
}
.buffet_title
{
  color: #000000;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:bold;
}
#buffet_type_title
{
  background-color: #e89a5a;
  color: #393939;
  padding:1px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:bold;
  width:340px;
}

#buffet_type_inclusions_info
{
  float:left;
  position:relative;
  width:775px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:14px;
}

#buffet_type_inclusions_info ul
{
  float:left;
  position:relative;
  list-style:none;
}

#buffet_type_tab
{
  float:left;
  position:relative;
  height:30px;
  padding:4px 0 0 4px;
}

/* Packed Meal */
/*************************/
#packed_meacl_type_title
{
  background-color: #e89a5a;
  color: #393939;
  padding:1px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:bold;
  width:125px;
}
#packed_meal_title_short_desc
{
  float:left;
  position:relative;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:12px;
  margin-top:10px;
  font-style:italic;
  width:775px;
}

#packed_meal_prices_div
{
  float:left;
  position:relative;
  margin-top:20px;
}

.packed_meal_price_col
{
  float:left;
  position:relative;
  width:250px;
}

#packed_meal_prices_div ul
{
  float:left;
  position:relative;
  list-style:none;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:12px;
  font-style:italic;
}

.packed_meal_price_title
{
  float:left;
  position:relative;
  background-color:#454545;
  color:#fff;
  font-family:Georgia, "Times New Roman", Times, serif;
  padding:5px;
  font-weight:bold;
  font-size:15px;
}

/*************************/
/* Cocktail Type */
/*************************/
#cocktail_type_title_div
{
  background-color: #e89a5a;
  color: #393939;
  padding:1px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:bold;
  width:220px;
  margin-top: -20px;
}

#cocktail_type_title_short_desc
{
  float:left;
  position:relative;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:12px;
  margin-top:10px;
  font-style:italic;
  width:720px;
}

#cocktail_type_prices_div
{
  float:left;
  position:relative;
  margin-top:40px;
}
/*************************/


/* Style for Amenities/

/* Why Infinity*/
/**********************/
#why_cccs_div
{
  float:left;
  position:relative;

}

#why_cccs_desc
{
  float:left;
  position:relative;
  width:100%;
  margin-left: 100px;

}

#why_cccs_desc ul
{
  list-style:disc;
  color:#d9d8d8;
}

#why_cccs_desc ul li span
{
  color:#666666;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-style:italic;
  font-size:14px;
}
/**********************/


/* Amenities */
/**********************/
.contentamenities{
  margin-left: 100px;
  margin-top: 30px;
}
.page_title
{
  float:left;
  position:relative;
  font-size:24px;
  font-family:Georgia, "Times New Roman", Times, serif;
  color:#444444;
  width:100%;
  font-weight:bold;
  margin-left: 50px;
}

#amenities_div
{
  float:left;
  position:relative;
  margin-top:20px;
  margin-left: 50px;
}

#amenities
{
  float:left;
  position:relative;

}

.subtitle
{
  float:left;
  position:relative;
  font-size:16px;
  font-family:Georgia, "Times New Roman", Times, serif;
  margin-top:20px;
  color:#444444;
  width:100%;
  font-weight:bold;
  margin-left: 50px;
}

.header_title
{
  float:left;
  margin-left: 50px;
  position:relative;
  font-size:20px;
  font-family:Georgia, "Times New Roman", Times, serif;
  margin-top:30px;
  color:#444444;
  width:100%;
  font-weight:bold;
}

#header_info
{
  float:left;
  position:relative;
  margin-left: 50px;
  margin-top:10px;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-style:italic;
  font-size:14px;
  color:#666666;
}
/**********************/


/* Contact Info Details */
/**********************/
.contentcontact{
  margin-left: 100px;
  margin-top: 30px;
}
#contact_div
{
  float:left;
  position:relative;
  margin-top:20px;
}

#contact_info
{
  float:left;
  position:relative;
}

#contact_info_img
{
  float:left;
  position:relative;
}


#contact_info_detail
{
  float:left;
  position:relative;
}

.header_title
{
  float:left;
  position:relative;
  font-size:20px;
  font-family:Georgia, "Times New Roman", Times, serif;
  margin-top:20px;
  color:#444444;
  width:100%;
  font-weight:bold;
}

.subtitle
{
  float:left;
  position:relative;
  font-size:16px;
  font-family:Georgia, "Times New Roman", Times, serif;
  margin-top:20px;
  color:#444444;
  width:100%;
  font-weight:bold;
}

#header_info
{
  float:left;
  position:relative;
  margin-top:20px;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-style:italic;
  font-size:14px;
  color:#666666;
}

#view_map_location
{
  float:left;
  position:relative;
  margin-top:2px;
  font-size:12px;
  font-family:Georgia, "Times New Roman", Times, serif;
  color:#666666;
  font-weight:bold;
}

.modalbg{
  background-image: url("/assets/wood_pattern.jpg");
}
/**********************/

.hz_divider
{
  float:left;
  position:relative;
  height:1px;
  width:650px;
  margin-top:5px;
  background:#e9dbdb repeat-x;
}

#email_add
{
  float:left;
  position:relative;
  width:100%;
  color:#666666;
  font-style:italic;
}

#email_add ul
{
  margin-left:0px;
  padding:0;
}

#email_add ul li
{
  margin-left:50px;
}

/* form labels and elements */
/******************************/
.form-label
{
  text-align:right;
  width:116px;
  float:left;
  padding-right:5px;
}

.form-element
{
  float:left;
  width:390px;
}

#captcha-col .form-element #col1, #captcha-col .form-element #col2, #captcha-col .form-element #col3
{
  float:left;
}

#name-col
{
  float:left;
}

#email-col
{
  float:left;
  padding-top:2px;
}

#address-col
{
  float:left;
  padding-top:2px;
}

#subject-col
{
  float:left;
  padding-top:2px;
}

#message-col
{
  float:left;
  padding-top:2px;
}

textarea
{
  resize:none;
}

#captcha-col
{
  float:left;
  padding-top:10px;
}

#btns-col
{
  float:left;
  padding-top:10px;
  width:508px;
  margin-left:120px;
}

#submit-btn-col
{
  float:left;
}

#reset-btn-col
{
  float:left;
}
/******************************/

/*s3 slider*/

/* s3slider */
/******************************/
#slider1 {
  width: 984px; /* important to be same as image width */
  height: 344px; /* important to be same as image height */
  position: relative; /* important */
  overflow: hidden; /* important */
  background-color:#FAF5F5;
}

#slider1Content {
  width: 984px; /* important to be same as image width or wider */
  position: absolute;
  top: 0;
  padding: 0;
  margin:0;
}
.slider1Image {
  float: left;
  position: relative;
  display: none;
}
.slider1Image span {
  position: absolute;
  font: 10px/15px Arial, Helvetica, sans-serif;
  padding: 10px 13px;
  width: 984px;
  background-color: #fff;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  color: #534F4E;
  display: none;
}
.clear {
  clear: both;
}
.slider1Image span strong {
  font-size: 14px;
}
.left {
  top: 0;
  left: 0;
  width: 110px !important;
  height: 330px;
}
.right {
  right: 0;
  bottom: 0;
  width: 110px !important;
  height: 330px;
}
ul { list-style-type: none;}
/******************************/

/*Register*/
.login{
  margin-left: 490px;
  margin-top: 50px;
  color: #ffffff;
}
.register{
  margin-left: 425px;
  margin-top: 50px;
  color: #ffffff;
}

.box{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-image: url('/assets/wbg.jpg');
  border: 1px solid #824603;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 8px 10px  rgba(0, 0, 0, .20);
  border-radius: 15px;

}