.container > .well {
    background-image: url("/assets/wbg.jpg");
    margin-top: 30px;
    margin-bottom: 30px;
}

.reg {
    background-image: url("/assets/wbg.jpg");
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #dcdcdc;
}

.pass {
    background-image: url("/assets/wbg.jpg");
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #dcdcdc;
}

.edit {
    background-image: url("/assets/wbg.jpg");
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #dcdcdc;
}