<p id="notice"><%= notice %></p>

<div class="container col-md-2">
  <div class="row contentmenu">
    <div class="col-md-10">
      <div class="tab-pane">
        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked color">
            <li class="active"><%= link_to 'Buffet Type', dishes_path %></li>
            <li><%= link_to 'Packed Meal', maindishes_path %></li>
            <li><%= link_to 'Cocktail Type', cocktails_path %></li>
          </ul>
        </div>

        <div class="menu_tab_ui_panel">
          <div class="menu_tab_panel">
            <div class="menu_inclusions_row">
              <div class="menu_inclusions_cell">
                <div class="menu_inclusions_col">
                  <div class="menu_inclusions_title_div">
                    <span> Buffet Dishes</span>

                  </div>

                  <div class="menu_inclusions_row">
                    <div class="menu_inclusions_cell">
                      <div class="menu_inclusions_col">
                        <div class="menu_inclusions_short_desc_div">
                          Select your favorite dish...
                        </div>
                        <div class="inclusions_menu_div">
                          <fieldset>
                            <table class="tableheight">
                              <!--<thead>-->
                              <!--<tr>-->
                                <!--<th></th>-->
                                <!--<th>Price</th>-->
                                <!--<th>Menu</th>-->
                                <!--<th>Dishtype</th>-->
                                <!--<th colspan="3"></th>-->
                              <!--</tr>-->
                              <!--</thead>-->
                              <div class="container tableheight">
                              <tbody>
                              <% @dishes.each do |dish| %>
                                  <tr>

                                    <td class="list-group">
                                      <% if user_signed_in? %>
                                      <input type="checkbox" class="dish-list" data-dish-name="<%= dish.name %>" data-id="<%= dish.id %>"/>
                                       <% end %>
                                          &nbsp; <%= dish.name %>
                                      <input type="hidden" value="<%= dish.id %>" id="<%= dish.id %>"/>

                                  </td>
                                    <% if admin_signed_in? %>
                                    <!--<td><%= dish.price %></td>-->
                                    <!--<td><%= dish.menu %></td>-->
                                    <!--<td><%= dish.dishtype %></td>-->
                                    <td>&nbsp;  <%= link_to 'Show', dish %></td>
                                    <td>&nbsp; <%= link_to 'Edit', edit_dish_path(dish) %></td>
                                    <td>&nbsp; <%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                    <% end %>
                                  </tr>
                              <% end %>


                              </tbody>
                              </div>
                              <% if admin_signed_in? %>
                              <td>&nbsp; <%= link_to 'New Dish', new_dish_path %></td>
                                  <% end %>
                            </table>

                            <br>





                  <div class="menu_inclusions_row">
                    <div class="menu_inclusions_cell">
                      <div class="panel_hz_divider"></div>
                    </div>
                  </div>
                  <div class="menu_inclusions_row">
                    <div class="menu_inclusions_cell">
                      <div class="panel_hz_divider"></div>
                    </div>
                  </div>

                  <div class="menu_inclusions_row">
                    <div class="menu_inclusions_cell">
                      <div class="menu_inclusions_col">
                        <div class="menu_inclusions_title_div">
                          <span>Amenities</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="menu_inclusions_row">
                    <div class="menu_inclusions_cell">
                      <div class="menu_inclusions_col">
                        <div class="inclusions_menu_div">
                          <fieldset>
                            <div id="col1">
                              <ul>
                                <li>One Free Buffet Tent</li>
                                <li>Uniformed Waiters</li>
                              </ul>
                            </div>
                            <div id="col2">
                              <ul>
                                <li>Simple Table Centerpieces</li>
                                <li>Stainless Tray for the Lechon</li>
                              </ul>
                            </div>
                            <div id="col3">
                              <ul>
                                <li>Buffet Set-Up with Centerpieces</li>
                                <li>Guest Tables & Chairs</li>
                              </ul>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </div>
                            <div class="menu_inclusions_row">
                            <div class="menu_inclusions_cell">
                            <div class="panel_hz_divider"></div>
                            </div>
                            </div>

                            <div class="menu_inclusions_row">
                            <div class="menu_inclusions_cell">
                            <div class="menu_inclusions_col">
                            <div class="menu_inclusions_title_div">
                            <span>Optional Charges</span>
                            </div>
                            </div>
                            </div>
                            </div>

                            <div class="menu_inclusions_row">
                            <div class="menu_inclusions_cell">
                            <div class="menu_inclusions_col">
                            <div class="inclusions_menu_div">
                            <fieldset>
                            <div id="col1">
                            <ul>
                            <li>Tents for Reception
                            <ul>
                            <li>Red Carpet</li>
                            </ul>
                            </li>
                            <li>Packed Meals</li>
                            <li>Ceiling Decor</li>
                            </ul>
                            </div>
                            <div id="col2">
                            <ul>
                            <li>Food Orders</li>
                            <li>Cocktail Tables</li>
                            <li>Tiffany Cahirs</li>
                            </ul>
                            </div>
                            <div id="col3">
                            <ul>
                            <li>Wine Glasses</li>
                            <li>Floral Arrangements</li>
                            <li>Kid's Table and Chairs</li>
                            </ul>
                            </div>
                            </fieldset>
                            </div>
                              <% if user_signed_in? %>
                            <a href="#MyModal" data-toggle="modal"><button>Reserve</button></a>
                            <div class="modal fade"
                                 id="MyModal" tabindex="1"
                                 role="dialog">
                              <div class="modal-dialog modalbg">
                                <div class="modal-content modalbg">
                                  <div class="modal-header modalbg">
                                    <button class="close" data-dismiss="modal">
                                      &times;
                                    </button>
                                    <h4>Reservation list</h4>
                                  </div>
                                  <div class="modal-body modalbg"">

                                    <div class="menu_inclusions_title_div">
                                      <span> Reserved Dishes</span>

                                    </div>
                                    <br/>
                                    <span class="dish-empty-alert" style="color: red">Dish order is empty.</span>
                                    <div class="dish-cart">

                                    </div>
                                  <div class="form-group">
                                    <label>Venue:</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="city/town"/>
                                  </div>
                                  <br/>
                                  <div class="form-group">

                                    <label>Contact no.:</label>

                                    <input type="text" name="contact"/>

                                  </div>
                                  </div>
                                  <div class="modal-footer">
                                    <input class="btn btn-success" type="button" value="Print Reservation Copy" onclick="PrintElem('#MyModal')" />
                                    <input class="btn btn-danger" type="button" value="Close"  data-dismiss="modal"/>

                                  </div>
                                </div>
                              </div>
                            </div>
                                  <% end %>
                            </div>
                            </div>
                            <!--<div id="submit-btn-col"><input type="submit" value="Reserve" name="btn_submit" /> </div>-->
                          </fieldset>

                        </div>

                      </div>
                    </div>
                  </div>


                  <!--<div class="menu_inclusions_row">-->
                    <!--<div class="menu_inclusions_cell">-->
                      <!--<div class="menu_inclusions_col">-->
                        <!--<div class="menu_inclusions_title_div">-->
                          <!--<span>5 Entr&eacute;e&#8217;s</span>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->

                  <!--<div class="menu_inclusions_row">-->
                    <!--<div class="menu_inclusions_cell">-->
                      <!--<div class="menu_inclusions_col">-->
                        <!--<div class="menu_inclusions_short_desc_div">-->
                          <!--Your choice of 5 main dishes from our menu, pork, chicken, fish, beef, noodles, seafoods, vegetables, and others...-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4">
        <img src="/assets/logo.png" alt=#" class="ftleft"/>
      </div>
      <div class="col-md-4 center-block">
        <p class="all"> All rights reserved <br/> Copyright &copy; infinity@yahoo.com  2015</p>
      </div>
      <div class="col-md-4 ">
        <img src="/assets/head.png" alt="#" class="ftright pull-right"/>
      </div>
    </div>
  </div>
</div>
<!--<h1>Listing Dishes</h1>-->

<!--<div class="modal fade"-->
     <!--id="reserve" tabindex="-1"-->
        <!--role="dialog">-->
  <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button class="close" data-dismiss="modal">-->
          <!--&times;-->
        <!--</button>-->
        <!--<h1>New Reservation</h1>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--<form action="#">-->
          <!--<div class="form-group">-->

          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<script type="text/javascript">
    var ctr = 0;
    $(".dish-list").on("click", function (){
        var dish_name = $(this).data("dish-name");
        var dish_id = $(this).data("id");
        if(this.checked) {
            var value = "<span style='display: block;' class='dish-order-"+ dish_id +"'>"+ dish_name +"</span>";
            $(".dish-cart").append(value);
            ctr++;
            $(".dish-empty-alert").hide();
        }else {
            $(".dish-order-"+ dish_id).remove();
            ctr--;
            if(ctr == 0) {
                $(".dish-empty-alert").show();
            }
        }
    });
</script>