<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>

<!--<p>-->
  <!--<strong>Menu:</strong>-->
  <!--<%= @dish.menu %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Dishtype:</strong>-->
  <!--<%= @dish.dishtype %>-->
<!--</p>-->

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
