<%= form_for(@maindish) do |f| %>
  <% if @maindish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maindish.errors.count, "error") %> prohibited this maindish from being saved:</h2>

      <ul>
      <% @maindish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
