<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @maindish.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @maindish.price %>
</p>

<%= link_to 'Edit', edit_maindish_path(@maindish) %> |
<%= link_to 'Back', maindishes_path %>
