<div id="history" class="contentcontact marginabout">
  <div class="header_title">About Us</div>
  <div id="header_info">
    <p>
      Infinity Catering Services is a family enterprise engaged in food catering service. The company started way back 1990 with just 4 regular employees when, Mr. John Doe, the proprietress was asked by a friend to cook on her birthday with just like how a catering set-up does. From there, he was asked again to cater 300 guests in a Christmas party of her husband’s cousin and turned out well. That gave Mr. Doe the idea to start the Food Catering Business. He then studied Culinary in a good quality school and from there Infinity got well known from the word of mouth of satisfied customers. <br /><br />
      At present with more than 100 hardworking employees, INfinity has humbly remain consistently one of the top catering services in Leyte. To enhance its already renowned customer service and sumptuous food, the company trained its personnel from its cook, food attendants and food staff and had undergone series of seminars to better serve its clientele. Now we have served valuable guests and corporate clients from the President of the Republic of the Philippines, Governor of Leyte, Leaders of different Municipalities and Non-Governmental Organizations, various corporate clients like Acoland Development Corporation, Ayala Group of Companies, Cebu Atlantic Hardware, Dynamic Castings, Smart Communications, PLDT, Stolt Neilsen, Salcon Power Corporation, Convergy's and several BPO companies based in Leyte. <br /><br />
      Despite an increasing competition, Infinity Catering Services promises to carry on its exceptional services as well as its delectable dishes which never decreases but instead successfully expands its growth. The reason behind this is the company’s commitment to give quality service to its customers so they can give their money’s worth. <br /><br />
      It offers notable catering services for weddings, birthdays, homecomings, reunions, fiestas, baptismal, debuts, house blessings, inaugurations and other special occasions. <br /><br />
      INfinity exhibits one of its kind arrangements from its centerpieces down to its arrangements and excellent services. Without a doubt Infinity is on its right direction with its mission of being Leyte's best catering service. It has earned its name as one of the leading catering services in Leyte.
    </p>
  </div>
</div>
<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-4">
      <img src="/assets/logo.png" alt=#" class="ftleft"/>
    </div>
    <div class="col-md-4 center-block">
      <p class="all"> All rights reserved <br/> Copyright &copy; infinity@yahoo.com  2015</p>
    </div>
    <div class="col-md-4 ">
      <img src="/assets/head.png" alt="#" class="ftright pull-right"/>
    </div>
  </div>
</div>

