<div class="container contentamenities col-md-12">
<div id="contentmenu">
  <div id="main_content">
    <div id="main_content_top_div"></div>
    <div id="main_content_middle_div">
      <div class="col1">
        <div id="menu_page_intro_div">
          <div class="page_title">Our Amenities</div>
        </div>
        <div id="amenities_div">
          <div id="amenities">
            <div class="subtitle">Buffet Tent</div>
            <div id="header_info">
              Atleast one free buffet tent is provided for every event. This varies to the number of persons specified.
            </div>
          </div>


          <div id="amenities">
            <div class="subtitle">Tables and Chairs</div>
            <div id="header_info">
              Tables, chairs, table cloths, and chair covers are provided free of charge for every event.</div>
          </div>


          <div id="amenities">
            <div class="subtitle">Buffet Setting w/ Centerpiece</div>
            <div id="header_info">
              Buffet setup and table centerpieces are provided to make your event look fabulous.
            </div>
          </div>


          <div id="amenities">
            <div class="subtitle">Uniformed Waiters</div>
            <div id="header_info">
              Neat, uniformed, and constantly trained waiters are serving you to make sure you are satisfied with our food and service.
            </div>
          </div>
        </div>


        <div id="why_cccs_div">
          <div class="header_title">
            <span>Why Infinity Catering?</span>
          </div>
          <div id="why_cccs_desc">
            <br/>
            <ul>
              <li><span>A wide range of nourishing choices of delectable dishes for your wonderful
        dining satisfaction.</span></li>
              <li><span>Impressive set-ups, stylish centerpieces and settings for your event.</span></li>
              <li><span>Outstanding service by well trained and respectful personnel.</span></li>
              <li><span>Price remarkably easy on your budget.</span></li>
              <li><span>Personalized customer service at its best.</span></li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </div>

</div>
 </div>

  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4">
        <img src="/assets/logo.png" alt=#" class="ftleft"/>
      </div>
      <div class="col-md-4 center-block">
        <p class="all"> All rights reserved <br/> Copyright &copy; infinity@yahoo.com  2015</p>
      </div>
      <div class="col-md-4 ">
        <img src="/assets/head.png" alt="#" class="ftright pull-right"/>
      </div>
    </div>
  </div>
