<div class="container">
<div class="contentcontact">
  <div id="main_content">
    <div id="main_content_top_div"></div>
    <div id="main_content_middle_div">
      <div class="col1">
        <div id="menu_page_intro_div">
          <div class="page_title">Contact Us</div>
        </div>

        <div id="contact_div col1">
          <div id="contact_info">
            <div class="subtitle">Office Address</div>
            <div id="header_info">
              #221 San Roque Street Lipata Minglanilla Cebu Philippines 6046<br />
            </div>
          </div>

          <div id="contact_info col1">
            <div class="subtitle">Phone Numbers</div>
            <div id="header_info">
              <div id="contact_info_img"></div>
              <div id="contact_info_detail">
                <ul>
                  <li>(+63) (32) 490 6605</li>
                  <li>(+63) (32) 272 4716</li>
                  <li>(+63) (32) 272 6971</li>
                </ul>
              </div>
            </div>
          </div>

          <div id="contact_info col1">
            <div class="subtitle">Telefax</div>
            <div id="header_info">
              <div id="contact_info_img"></div>
              <div id="contact_info_detail">
                <ul>
                  <li>(+63) (32) 272 4917</li>
                </ul>
              </div>
            </div>
          </div>

          <div id="contact_info col1">
            <div class="subtitle">Email Us</div>
            <div id="email_add"><ul><li>info@infinitycatering.com</li></ul></div>
            <div id="header_info" class="col-md-5">
              <form name="frmContact" method="post" action="administration/processes/email_contact_us_form.html?cmd=email_contact_us_form&amp;sid=gbe80e5d7mqtvk8u5d6svbpm33" onsubmit="return validate_form();">
                <div id="name-col">
                  <div class="form-label">Name:</div>
                  <div class="form-element">
                    <input type="text" size="51" name="txtName" value="" />
                  </div>
                </div>
                <div id="email-col">
                  <div class="form-label">Email:</div>
                  <div class="form-element">
                    <input type="text" size="51" name="txtEmail" value="" />
                  </div>
                </div>
                <div id="address-col">
                  <div class="form-label">Address:</div>
                  <div class="form-element">
                    <input type="text" size="51" name="txtAddress" value="" />
                  </div>
                </div>
                <div id="subject-col">
                  <div class="form-label">Subject:</div>
                  <div class="form-element">
                    <input type="text" size="51" name="txtSubject" value="" />
                  </div>
                </div>
                <div id="message-col">
                  <div class="form-label">Message:</div>
                  <div class="form-element" style="">
                    <textarea name="taMessage" cols="39" rows="5"></textarea>
                  </div>
                </div>
                <div id="btns-col">
                  <div class="form-label">&nbsp;</div>
                  <div class="form-element">
                    <div id="submit-btn-col"><input type="submit" value="Submit" name="btn_submit" /></div>
                    <div id="reset-btn-col"><input type="button" value="Reset" /></div>
                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>
       </div>
      </div>
    </div>

  </div>

</div>
<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-4">
      <img src="/assets/logo.png" alt=#" class="ftleft"/>
    </div>
    <div class="col-md-4 center-block">
      <p class="all"> All rights reserved <br/> Copyright &copy; infinity@yahoo.com  2015</p>
    </div>
    <div class="col-md-4 ">
      <img src="/assets/head.png" alt="#" class="ftright pull-right"/>
    </div>
  </div>
</div>