
<div class="container">
  <div class="col-md-7 col-md-offset-1">
    <h1>Photo Gallery</h1>
    <ul class="nav nav-tabs"  >
      <li class="active">
        <a href="#setups" role="tab" data-toggle="tab">Setups</a>
      </li>
      <li>
        <a href="#food" role="tab" data-toggle="tab">Food</a>
      </li>
      <li>
        <a href="#staff" role="tab" data-toggle="tab">Staff</a>
      </li>
      <li>
        <a href="#community" role="tab" data-toggle="tab">Community</a>
      </li>

    </ul>
    <div class="tab-content" style="height: 500px; width: 820px ; overflow-y: scroll; overflow-x: hidden; ">
      <div class="tab-pane active" id="setups">
        <p style="color: #000000">Our signature food catering presentations, buffet setups, and designs</p>
        <div class="row pics">
          <div class="col-md-3">
            <img src="/assets/fiesta.jpg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/wedding.jpg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/party.jpg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/adding.jpg" alt="images" class="thumbnail" width="170px"/>
          </div>
        </div>
        <div class="row pics">
          <div class="col-md-3">
            <img src="/assets/fiesta.jpg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/wedding.jpg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/party.jpg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/adding.jpg" alt="images" class="thumbnail" width="170px"/>
          </div>
        </div>
        <div class="row pics">
          <div class="col-md-3">
            <img src="/assets/fiesta.jpg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/wedding.jpg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/party.jpg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/adding.jpg" alt="images" class="thumbnail" width="170px"/>
          </div>
        </div>
        <div class="row pics">
          <div class="col-md-3">
            <img src="/assets/fiesta.jpg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/wedding.jpg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/party.jpg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/adding.jpg" alt="images" class="thumbnail" width="170px"/>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="food">
        <p style="color: #000000">Our delectable, personalized flavor and internationally studied cuisine</p>
        <div class="row pics">
          <div class="col-md-3">
            <img src="/assets/food1.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/food2.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/food3.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/food4.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
        </div>
        <div class="row pics">
          <div class="col-md-3">
            <img src="/assets/food1.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/food2.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/food3.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/food4.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
        </div>
        <div class="row pics">
          <div class="col-md-3">
            <img src="/assets/food1.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/food2.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/food3.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/food4.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
        </div>
        <div class="row pics">
          <div class="col-md-3">
            <img src="/assets/food1.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/food2.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/food3.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/food4.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="staff">
        <p style="color: #000000">Our well trained and respectful staff with our most valued clients</p>
        <div class="row pics">
          <div class="col-md-3">
            <img src="/assets/staff1.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/staff2.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/staff3.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/staff4.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
        </div>
        <div class="row pics">
          <div class="col-md-3">
            <img src="/assets/staff1.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/staff2.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/staff3.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/staff4.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
        </div>
        <div class="row pics">
          <div class="col-md-3">
            <img src="/assets/staff1.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/staff2.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/staff3.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/staff4.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
        </div>
        <div class="row pics">
          <div class="col-md-3">
            <img src="/assets/staff1.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/staff2.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/staff3.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/staff4.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="community">
        <p style="color: #000000">Our way of giving back your continous patronage for Infinity Family</p>
        <div class="row pics">
          <div class="col-md-3">
            <img src="/assets/comm1.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/comm2.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/comm3.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/comm4.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
        </div>
        <div class="row pics">
          <div class="col-md-3">
            <img src="/assets/comm1.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/comm2.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/comm3.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/comm4.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
        </div>
        <div class="row pics">
          <div class="col-md-3">
            <img src="/assets/comm1.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/comm2.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/comm3.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/comm4.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
        </div>
        <div class="row pics">
          <div class="col-md-3">
            <img src="/assets/comm1.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/comm2.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/comm3.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
          <div class="col-md-3">
            <img src="/assets/comm4.jpeg" alt="images" class="thumbnail" width="170px"/>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-2  col-md-offset-1 well" style="border-radius: 0px 0px 0px 50px; margin-top: 80px">
    <h3 style="text-align: center; margin-bottom: 30px">Keep in Touch!</h3>
    <h5>Infinity Online Catering Services</h5>
    <p>#123 Street Barangay <br/> Town/City, Province</p>
    <p>(123) 345 6789</p>
    <p>(123) 453 9678</p>
    <p>(123) 534 7896</p>
    <button>Click Here <br/> to Download all Menu</button>
  </div>
</div>
<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-4">
      <img src="/assets/logo.png" alt=#" class="ftleft"/>
    </div>
    <div class="col-md-4 center-block">
      <p class="all"> All rights reserved <br/> Copyright &copy; infinity@yahoo.com  2015</p>
    </div>
    <div class="col-md-4 ">
      <img src="/assets/head.png" alt="#" class="ftright pull-right"/>
    </div>
  </div>
</div>
