
<div class="container">
    <div class="col-md-12 content1">
        <div class="carousel slide" id="samplecarousel" data-ride="carousel">
          <div class="carousel-inner center-block inner">
            <div class="item active">
              <img src="/assets/carousel images/caswedding.jpg" />
            </div>
            <div class="item">
              <img src="/assets/carousel images/casadding.jpg" />
            </div>
            <div class="item">
              <img src="/assets/carousel images/casfiesta.jpg" />
            </div>
            <div class="item">
              <img src="/assets/carousel images/casparty.jpg" />
            </div>
            <div class="item">
              <img src="/assets/carousel images/cassocial_function.jpg"/>
            </div>
          </div>

        </div>
    </div>
      <div class="col-md-10 col-md-offset-1 content2">
        <div class="row">
          <div class="col-md-3">
            <img src="/assets/human1.png" class="port"/>
          </div>
          <div class="col-md-6">
            <p class="para">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Assumenda dolore ducimus magnam nisi quibusdam rem ut? Animi,
              beatae, consectetur dolorum ducimus exercitationem id ipsam molestias
              porro sequi tenetur veniam voluptatem!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Assumenda dolore ducimus magnam nisi quibusdam rem ut? Animi,
              beatae, consectetur dolorum ducimus exercitationem id ipsam molestias
              porro sequi tenetur veniam voluptatem!
            </p>
          </div>
          <div class="col-md-3">
            <img src="/assets/lechon2.png" class="lechon"/>
          </div>
        </div>
        <hr style="border-color: #1f2124; width: 100%;"/>
        <h3>Catering Services</h3>
        <br/>
        <div class="row picture">
          <div class="col-md-3">
            <a href="#" class="thumbnail">
              <img src="/assets/party.jpg" class="oct"/>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="thumbnail">
              <img src="/assets/fiesta.jpg" class="oct"/>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="thumbnail">
              <img src="/assets/adding.jpg" class="oct"/>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="thumbnail">
              <img src="/assets/wedding.jpg" class="oct"/>
            </a>
          </div>
        </div>
        <div class="container">
          <div class="row service">
            <div class="col-md-3 ">
              <h4>Buffet Type</h4>
              <hr/>
              <h5>P230 / person</h5>
              <ul class="buffet">
                <li>5 Main Dishes</li>
                <li>1 Dessert</li>
                <li>1 Appetizer</li>
                <li>1 Round Softdrink</li>
                <li>Rice</li>
                <li>Purified Water</li>
              </ul>
            </div>
            <div class="col-md-3" >
              <h4>Packed Meal</h4>
              <hr/>
              <h6>Packed in a styrofoam, spoon, fork, and toothpick included.</h6>
              <ul class="packed">
                <li><h5>P130 / Person</h5></li>
                <li><h5>P120 / Person</h5></li>
                <li><h5>P110 / Person</h5></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h4>Cocktail Type</h4>
              <hr/>
              <ul class="cocktail">
                <li><h5> P190 / Person</h5></li>
                <li><h5>P170 / Person</h5></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h4>Our Amenities</h4>
              <hr/>
              <ul class="amenities">
                <li>Buffet Tent</li>
                <li>Tables and Chairs</li>
                <li>Skirted buffet table with centerpiece</li>
                <li>Uniformed Waiters</li>
              </ul>
            </div>
          </div>
          <div class="container ">
            <div class="row buttons">
              <div class="col-md-3">
                <%= link_to 'View Menu', dishes_path, class: 'btn btn-warning center-block' %>
              </div>
              <div class="col-md-3">
                <%= link_to 'View Menu', maindishes_path, class: 'btn btn-success center-block' %>
              </div>
              <div class="col-md-3">
                <%= link_to 'View Menu', cocktails_path, class: 'btn btn-primary center-block' %>
              </div>
              <div class="col-md-3">
                <%= link_to 'More Info', catering_amenities_path, class: 'btn btn-info center-block' %>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>
<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-4">
      <img src="/assets/logo.png" alt=#" class="ftleft"/>
    </div>
    <div class="col-md-4 center-block">
      <p class="all"> All rights reserved <br/> Copyright &copy; infinity@yahoo.com  2015</p>
    </div>
    <div class="col-md-4 ">
      <img src="/assets/head.png" alt="#" class="ftright pull-right"/>
    </div>
  </div>
</div>
<script type="text/javascript" src="jquery-1.9.1.js"></script>
<script type="text/javascript" src="bootstrap.js"></script>
<script type="text/javascript">
    $(function(){
        $(".carousel").carousel({
            interval: 2000
        });
    });
</script>
