<h4>Listing Dishes</h4>

<!--<div class="modal fade"-->
<!--id="reserve" tabindex="-1"-->
<!--role="dialog">-->
<!--<div class="modal-dialog">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<button class="close" data-dismiss="modal">-->
</button>
<!--<h1>New Reservation</h1>-->
<!--</div>-->
<div class="modal-body">
<form action="#">
<div class="form-group">
<%= link_to  %>
</div>
</form>

</div>
<!--</div>-->
<!--</div>-->
<!--</div>-->
