<!--<div class="container">-->
<!--<div class="nav navbar-left contentmenu">-->
<!--<ul>-->
<!--<li  class="links"><a href="home.html">Latest Activity</a></li>-->
<!--<li  class="links"><a href="About.html">Profile</a></li>-->
<!--<li  class="links"><a href="Videos.html">Videos</a></li>-->
<!--<li  class="links"><a href="Images.html">Images</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<div class="container col-md-2">
  <div class="row contentmenu">
    <div class="col-md-10">
      <div class="tab-pane">

        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to 'Buffet Type', dishes_path %></li>
            <li class="active"><a href="#" role="tab" data-toggle="tab">Packed Meal</a></li>
            <li><%= link_to 'Cocktail Type', catering_cocktail_url %></li>
          </ul>
        </div>
        <!--<div class="menu_inclusions_col" id="#vtabs-content-b">-->
          <div class="menu_tab_panel">
            <div class="menu_inclusions_row">
              <div class="menu_inclusions_cell">
                <div id="packed_meacl_type_title">PACKED MEAL</div>
                <div id="packed_meal_title_short_desc">
                  Packed in a styrofoam, spoon, fork, and toothpick included.
                </div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_col">
                <div id="packed_meal_prices_div">
                  <div class="packed_meal_price_col">
                    <div class="packed_meal_price_title">Packed Menu Php 130.00</div>
                    <div>
                      <ul>
                        <li>3 Main Dishes</li>
                        <li>1 Dessert</li>
                        <li>2 cups rice</li>
                        <li>Juice in tetra pack</li>
                      </ul>
                    </div>
                  </div>

                  <div class="packed_meal_price_col">
                    <div class="packed_meal_price_title">Packed Menu Php 120.00</div>
                    <div>
                      <ul>
                        <li>2 Main Dishes</li>
                        <li>1 Dessert</li>
                        <li>2 cups rice</li>
                        <li>Juice in tetra pack</li>
                      </ul>
                    </div>
                  </div>

                  <div class="packed_meal_price_col">
                    <div class="packed_meal_price_title">Packed Menu Php 110.00</div>
                    <div>
                      <ul>
                        <li>2 Main Dishes</li>
                        <li>2 cups rice</li>
                        <li>Juice in tetra pack</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_cell">
                <div class="panel_hz_divider"></div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_cell">
                <div class="menu_inclusions_col">
                  <div class="menu_inclusions_title_div">
                    <span>Main Dishes</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_cell">
                <div class="menu_inclusions_col">
                  <div class="menu_inclusions_short_desc_div">
                    Choose your main dishes here...
                  </div>
                </div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_col">
                <div id="main-course">
                  <div id="main_courses_row1">
                    <div id="col1">
                      <fieldset>
                        <div class="buffet_title">PORK</div>
                        <div>
                          <ul>
                            <li>Pork Menudo</li>
                            <li>Pork Embutido</li>
                            <li>Sweet and Sour Pork</li>
                            <li>Braised Pork (Humba)</li>
                            <li>Breaded Pork Chop</li>
                            <li>Pork Steak</li>
                          </ul>
                        </div>
                      </fieldset>
                    </div>
                    <div id="col2">
                      <fieldset>
                        <div class="buffet_title">CHICKEN</div>
                        <div>
                          <ul>
                            <li>Chicken Chunk with Honey</li>
                            <li>Chicken Pandan</li>
                            <li>Chicken Pork Adobo</li>
                            <li>Buttered Chicken</li>
                            <li>Chicken Fillet w/ Sesame Seeds & Gravy</li>
                            <li>Chicken Roll w/ Ham &amp; Butter</li>
                          </ul>
                        </div>
                      </fieldset>
                    </div>
                    <div id="col3">
                      <fieldset>
                        <div class="buffet_title">SEAFOODS</div>
                        <div>
                          <ul>
                            <li>Sweet and Sour Fish</li>
                            <li>Fish Fillet with Corn Sauce</li>
                            <li>Fish Fillet with Chili Sauce</li>
                            <li>Steamed Fish Fillet w/ Ham & Black Mushroom</li>
                            <li>Fish Fillet with Tar-Tar Sauce</li>
                          </ul>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div id="main_courses_row2">
                    <div id="col1">
                      <fieldset>
                        <div class="buffet_title">BEEF</div>
                        <div>
                          <ul>
                            <li>Beef Steak</li>
                            <li>Beef with Onions</li>
                            <li>Stir Fry Beef</li>
                            <li>Beef Caldereta</li>
                            <li>Beef Tips in Oyster Sauce</li>
                            <li>Beef with Mushroom</li>
                          </ul>
                        </div>
                      </fieldset>
                    </div>
                    <div id="col2">
                      <fieldset>
                        <div class="buffet_title">NOODLES</div>
                        <div>
                          <ul>
                            <li>Spaghetti</li>
                            <li>Bam-I</li>
                            <li>Sotanghon Guisado</li>
                          </ul>
                        </div>
                      </fieldset>
                    </div>
                    <div id="col3">
                      <fieldset>
                        <div class="buffet_title">VEGGIES / OTHERS</div>
                        <div>
                          <ul>
                            <li>Shrimp Roll</li>
                            <li>Chao Pat Chin</li>
                            <li>Four Seasons Vegetables</li>
                          </ul>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_cell">
                <div class="panel_hz_divider"></div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_cell">
                <div class="menu_inclusions_col">
                  <div class="menu_inclusions_title_div">
                    <span>Dessert</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_cell">
                <div class="menu_inclusions_col">
                  <div class="menu_inclusions_short_desc_div">
                    Choose your mouthwatering dessert...
                  </div>
                </div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_col">
                <div class="inclusions_menu_div">
                  <fieldset>
                    <div id="col1">
                      <ul>
                        <li>Fruit Salad</li>
                        <li>Shell Macaroni Salad</li>
                        <li>Macaroons</li>
                        <li>Brownies</li>
                      </ul>
                    </div>
                    <div id="col2">
                      <ul>
                        <li>Cassava Cake</li>
                        <li>Custard Cake</li>
                        <li>Chicken Macaroni</li>
                        <li>Maja Blanca</li>
                      </ul>
                    </div>
                    <div id="col3">
                      <ul>
                        <li>Cup Cake</li>
                        <li>Empanada</li>
                      </ul>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_cell">
                <div class="panel_hz_divider"></div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_col">
                <div class="menu_inclusions_col">
                  <div class="menu_inclusions_title_div">
                    <span>Rice</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_col">
                <div class="inclusions_menu_div">
                  <fieldset>
                    <div id="col1">
                      <ul>
                        <li>Plain Rice</li>
                      </ul>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        <!--</div>-->
      </div>
    </div>
  </div>
</div>

