<h1>new article</h1>

<%	 form_for :article do |f| %>
    <p>
      <%	 f.label :title %>
      <%	 f.text_field :title%>
    </p>
    <p>
      <%	 f.label :text %>
      <%	 f.text_area :text %>
    </p>
    <p>
      <%	 f.submit %>
    </p>
<%	 end %>